h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

li.completed > span {
	color: var(--bs-success);
	font-style: italic;
	text-decoration: line-through;
}

#todolist {
	padding: 1rem 1.5rem;
	background-color: antiquewhite;
}

#todolist li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#todolist li > span {
	cursor: pointer;
}
